<html>
<body>
<pre>
hello VM!
##注释 ，看不到
#*
都看不到
*#

Value1:$!{value1}
       $!{value2}
       ${value2}
#foreach ($colors in $colors)
Color： $!{foreach.index}/$!{foreach.count} : $!{color}
#end

#foreach ($key in $map.keySet())
Number: $!{foreach.index}/$!{foreach.count}: $!{key}: $map.get($key)
#end

#foreach ($kv in $map.entrySet())
Number: $!{foreach.index}/$!{foreach.count}: $!{kv.key}: $!{kv.value}
#end

User:$!{user.name}
User:$!{user.getName()}

#set($title = "nowcoder")
Include:#include("header.vm")
Parse:#parse("header.vm")

#macro (render_color,$color,$index)
Color By Macro $index, $color
#end

#foreach ($color in $colors)
#render_color($color,$foreach.index）
#end
Color By Macro $index, $color
#end

</pre>
</body>
</html>